%h1 Charities
%ul
- @charities.each do |charity|
  %li
    = link_to charity.name, charity_path(charity)
    = charity.short_description
    = form_for @donation do |f|
      = f.hidden_field :charity_id, value: charity.id
      = f.hidden_field :donatable_id, value: @donation.donatable_id
      = f.hidden_field :amount, value: @donation.amount
      = f.hidden_field :commission, value: @donation.commission
      = f.submit "donate #{@donation.commission}"
