%h1 Charities
- @charities.each do |charity|
  %b Name
  = link_to charity.name, charity_path(charity)
  %b Description
  = charity.short_description
  = form_for @donation do |f|
    = f.hidden_field :charity_id, value: charity.id
    = f.submit "donate #{@donation.amount}"
